<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/landing">HogarCompartido</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- Verifica si isAuthenticated$ -->
          <app-dropdown
            *ngIf="isAuthenticated$ | async; else loginLink"
          ></app-dropdown>
          <!-- Si no muestra el link de login -->
          <ng-template #loginLink>
            <a class="nav-link" href="/login">Iniciar Sesión</a>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
