<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/landing">HogarCompartido</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- Verifica si isAuthenticated$ -->
          <app-dropdown
            *ngIf="isAuthenticated$ | async; else loginLink"
          ></app-dropdown>
          <!-- Si no muestra el link de login -->
          <ng-template #loginLink>
            <button
              type="button"
              class="btn btn-light btn-sm px-3 gap-3 me-3"
              routerLink="/login"
            >
              Iniciar sesión
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm px-3 gap-3"
              routerLink="/register"
            >
              Crear cuenta
            </button>
          </ng-template>
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
