<div class="px-4 py-5 my-5 text-center">
  <h3 class="mb-5">Bienvenido a casa, {{ (user$ | async)?.name }}</h3>
  <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
    <app-widget [headerTitle]="'El pisito'" [icon]="'faHome'">
      <div class="d-grid gap-1 mt-3">
        <div class="fw-bold">Dirección</div>
        <ul class="list-group">
          <li class="list-group-item">
            C. de Gaztambide, 65, Chamberí, 28015 Madrid
          </li>
        </ul>
        <div class="fw-bold">Miembros</div>
        <ul class="list-group">
          <li
            class="list-group-item list-group-item-action cursor-pointer"
            routerLink="/profile"
          >
            <img
              src="https://github.com/mdo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
            Javi Sánchez
          </li>
          <li
            class="list-group-item list-group-item-action cursor-pointer"
            routerLink="/profile"
          >
            <img
              src="https://github.com/mdo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />Eugenio Alberca
          </li>
          <li
            class="list-group-item list-group-item-action cursor-pointer"
            routerLink="/profile"
          >
            <img
              src="https://github.com/mdo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />Rodrigo Aragón
          </li>
          <li
            class="list-group-item list-group-item-action cursor-pointer"
            routerLink="/profile"
          >
            <img
              src="https://github.com/mdo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />Javi Jiménez
          </li>
          <li
            class="list-group-item list-group-item-action cursor-pointer"
            routerLink="/profile"
          >
            <img
              src="https://github.com/mdo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />Juan Domínguez
          </li>
          <li
            class="list-group-item list-group-item-action cursor-pointer"
            routerLink="/profile"
          >
            <img
              src="https://github.com/mdo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />Carlos Beiro
          </li>
        </ul>
      </div>
    </app-widget>
    <app-widget [headerTitle]="'Eventos'" [icon]="'faCalendar'">
      <div class="d-grid gap-3 mt-3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action cursor-pointer">
            <span class="fw-bold border-end border-2 pe-2">01/01/2024</span>
            <span class="ps-2">Evento 1</span>
          </li>
          <li class="list-group-item list-group-item-action cursor-pointer">
            <span class="fw-bold border-end border-2 pe-2">01/01/2024</span>
            <span class="ps-2">Evento 2</span>
          </li>
          <li class="list-group-item list-group-item-action cursor-pointer">
            <span class="fw-bold border-end border-2 pe-2">01/01/2024</span>
            <span class="ps-2">Evento 4</span>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action cursor-pointer">
            <span class="fw-bold border-end border-2 pe-2">02/01/2024</span>
            <span class="ps-2">Evento 4</span>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action cursor-pointer">
            <span class="fw-bold border-end border-2 pe-2">03/01/2024</span>
            <span class="ps-2">Evento 5</span>
          </li>
          <li class="list-group-item list-group-item-action cursor-pointer">
            <span class="fw-bold border-end border-2 pe-2">03/01/2024</span>
            <span class="ps-2">Evento 6</span>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action cursor-pointer">
            <span class="fw-bold border-end border-2 pe-2">04/01/2024</span>
            <span class="ps-2">Evento 7</span>
          </li>
          <li class="list-group-item list-group-item-action cursor-pointer">
            <span class="fw-bold border-end border-2 pe-2">05/01/2024</span>
            <span class="ps-2">Evento 8</span>
          </li>
        </ul>
      </div>
    </app-widget>
    <app-widget [headerTitle]="'Gastos'" [icon]="'faMoneyBill'">
      <div class="mt-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <h4 class="card-title">Balance de gastos</h4>
            <div class="row py-3">
              <div class="col-sm-6">
                <h5 class="card-title border-bottom">Debes</h5>
                <h1 class="card-text">100€</h1>
              </div>
              <div class="col-sm-6">
                <h5 class="card-title border-bottom">Te deben</h5>
                <h1 class="card-text">50€</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-widget>
    <app-widget [headerTitle]="'Tareas'" [icon]="'faListCheck'">
      <div class="mt-3">
        <div class="list-group">
          <div class="list-group-item">
            <div class="d-flex justify-content-between mb-3">
              <h6 class="mb-1 w-20">Tú:</h6>
              <small class="text-center w-60">Limpiar baños</small>
              <button class="btn btn-secondary btn-sm w-20">Hecho</button>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <h6 class="mb-1 w-20"></h6>
              <small class="text-center w-60">Limpiar pasillo</small>
              <button class="btn btn-secondary btn-sm w-20">Hecho</button>
            </div>
          </div>
          <div class="list-group-item list-group-item-secondary">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 w-20">Tú:</h6>
              <small class="text-center w-60">Pagar alquiler</small>
              <div class="w-20 text-end">
                <span class="badge bg-success rounded-pill">&#10003;</span>
              </div>
            </div>
          </div>

          <div class="list-group-item list-group-item-secondary">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 w-20">Rodrigo:</h6>
              <small class="text-center w-60">Limpiar salón</small>
              <div class="w-20 text-end">
                <span class="badge bg-success rounded-pill">&#10003;</span>
              </div>
            </div>
          </div>
          <div class="list-group-item list-group-item-secondary">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 w-20">Eugenio:</h6>
              <small class="text-center w-60">Hacer la compra</small>
              <div class="w-20 text-end">
                <span class="badge bg-success rounded-pill">&#10003;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-widget>
  </div>
</div>
