.active {
  color: #fff;
}

hr {
  margin: 0.3rem 0 !important;
}

.bell-icon-style {
  display: inline-block;
  font-size: 1rem;
  color: white;
}

.bell-icon {
  margin: 15px;
}

.icon-style {
  display: "inline-block";
  padding: 5px;
  padding-right: 10px;
  font-size: 1rem;
  color: white;
}
