html,
body {
  font-family: 'Poppins', sans-serif !important;
  background: #EEEBE4;
  color: #464255;
  height: 90%;
  height: 100vh;
  top: 5%;
  width: 100%;
  max-height: 100vh;
}

.navbar {
  z-index: 20000;
  position: fixed;
  min-height: 5%;
  max-height: 10%;
  width: 100%;
  background-color: #A3B43A !important;
  box-shadow: #7D7D7D 0px 0px 8px 2px;
}

.footer {
  z-index: 20000;
  position: absolute;
}

.background-logo-container {
  z-index: 0;
  opacity: 0.05;
  height: 1000px;
  width: 1000px;
  right: -290px;
  bottom: -150px;
  rotate: 10deg;
  position: fixed;
  background-image: url(./assets/icons/home-heart-fill.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  border-radius: 20px;
  border: none;
}

.main-container,
.container {
  z-index: 1 !important;
  height: 100%;
  width: 100%;
}

.h1, h2, h3, h4 {
  margin: 0 !important;
}

a:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #ECB73A;
  border: none;
}
.btn-primary:hover, .btn-primary:focus{
  background-color: #b38826 !important;
  border: none;
}
.btn-primary:disabled {
  background-color: #7D7D7D;
}